  name: MacOS Build CI

  # Controls when the workflow will run
  on: [push, pull_request]

  # A workflow run is made up of one or more jobs that can run sequentially or in parallel
  jobs:
    # This workflow contains a single job called "build"
    build:
      runs-on: macos-latest

      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v2

        - uses: krdlab/setup-haxe@master
          with:
            haxe-version: 4.2.5
        # Runs a set of commands using the runners shell
        - name: Install Haxelib
          run: |
            haxelib setup ~/haxelib
            haxelib install hxcpp > /dev/null
            haxelib install lime 8.0.0
            haxelib install openfl
            haxelib --never install flixel
            haxelib run lime setup flixel
            haxelib run lime setup
            haxelib install flixel-tools
            haxelib install flixel-addons
            haxelib install hscript
            haxelib git polymod https://github.com/larsiusprime/polymod
            haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
            haxelib list
        - name: Create Version Tag
          run: echo "${{github.run_id}}" > VERSION
        - name: Compile
          run: haxelib run lime build mac --app-version="4.0.0-${{ github.run_id}}"
        - name: Publish Artifact
          uses: actions/upload-artifact@v2.2.4
          with:
            name: macBuild
            path: export/release/macos/bin